
body{
    background: linear-gradient(45deg, #B4E9F5, #D5F9BD);
}

.backg {
    margin: auto;
    position: absolute;
    left: 37%;
    width: 300px;
    height: 350px;
    top: 20%;
    opacity: 0.9;
    background-color: #f7f8f9;
}
.inputs {
    margin:auto;
    width: 200px;
    height: 200px;
    text-align: center;
}

.textArea {
    top: 10%;
    margin:auto;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 11%;
    
}

.offset{
    margin:auto;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 44%;
    left: 11%;
}

.offsetTitle {
    margin:auto;
    position: relative;
    top: 10%;
    right: 18%;
}

.submitButton {
    text-align: center;
    position: relative;
    left: -50%;
    top: 65%;
    font-size: 40px;
}
.result {
    margin: auto;
    position: relative;
    top: 3%;
    left: 8px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}
p {
    margin:auto;
    font-size: 20px;
    text-align: center;
}

h2 {
    position: absolute;
    left: 41%;
    font-size: 70px;
    letter-spacing: -2px;
    margin: -0.7%;
    z-index: 1;
    top: 10.5%;
    font-family: 'Abril Fatface', cursive;
}

.cifrar-btn {
    position: relative;
    margin: auto;
    left: 20%;
    top: 30%;
    width: 85px;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Cardo', serif;
    background-color: #B4E9F5;
} 

.descifrar-btn {
    position: relative;
    margin: auto;
    left: 25%;
    width: 85px;
    height: 30px;
    font-family: 'Cardo', serif;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background-color: #B4E9F5;
}
.descifrar-btn:hover {
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    box-shadow: 3px 2px 10px #B4E9F5;
    font-size: 13px;
}
.cifrar-btn:hover {
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    box-shadow: 3px 2px 10px #B4E9F5;
    font-size: 13px;
}
.coma {
    position: absolute;
    font-size: 150px;
    top: -50%;
    left: 102%;
    font-family: 'Abril Fatface', cursive;
    color: #B4E9F5;
}

.arreglo {
    background-color: white;
    position: relative;
    width: 150px;
    height: 30px;
    top: 90px;
}

.subtitle {
    z-index: 1;
    font-size: 10px;
    color: black;
    background-color: white;
    position: relative;
    width: 180px;
    height: 15px;
    top: 113px;
    left: 17px;
}